html,
body {
  height: cover;
  display: flex;
  flex-direction: column;
}

.background-image {
  background-image: url("../assets/images/achtergrond.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.nav-link:hover {
  color: #f28322;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: #f28322;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #587e8c;
  --bs-nav-pills-link-active-color: #fff;
  --bs-nav-pills-link-active-bg: #f28322;
}

.breadcrumb {
  color: #fff;
  --bs-breadcrumb-padding-x: 0;
  --bs-breadcrumb-padding-y: 0;
  --bs-breadcrumb-margin-bottom: 1rem;
  --bs-breadcrumb-bg: ;
  --bs-breadcrumb-border-radius: ;
  --bs-breadcrumb-divider-color: #fff;
  --bs-breadcrumb-item-padding-x: 0.5rem;
  --bs-breadcrumb-item-active-color: #c0c0c0;
}

.card-body {
  display: flex;
  flex-direction: column;
}

a,
a:hover {
  text-decoration: none;
  color: #f28322;
}

.list-group {
  --bs-list-group-active-color: #fe9218;
  --bs-list-group-active-bg: #587e8c;
}

.btn {
  --bs-btn-color: #fff;
  --bs-btn-bg: #587e8c;
  --bs-btn-border-color: #587e8c;
  --bs-btn-hover-color: #f28322;
  --bs-btn-hover-bg: #587e8c;
  --bs-btn-hover-border-color: #587e8c;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #587e8c;
  --bs-btn-active-border-color: #587e8c;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #587e8c;
  --bs-btn-disabled-border-color: #587e8c;
}
